.main {
  display: flex;
  flex-direction: column;
  padding: 30px 100px;
  gap: 10px;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 285px));
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
