@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --text-primary-color: #ec6724;
  --text-black-color: #000000;
  --white-color: #ffffff;
  --background-color: #f5f5f5;
  --border-gray: #d9d9d9;
  --error-color: #ec2727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul,
ol {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  color: var(--text-black-color);
}

button {
  cursor: pointer;
}

button,
input {
  font-family: inherit;
}
