.button {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  height: 40px;
}

.primary {
  background-color: var(--text-primary-color);
  color: var(--white-color);
}

.secondary {
  background-color: transparent;
  color: var(--text-primary-color);
  border: 2px solid var(--text-primary-color);
}
